<link
  href="https://fonts.googleapis.com/css?family=Lato:400,300,700"
  rel="stylesheet"
  type="text/css"
/>

<div class="container">
  <div class="header">
    <div class="full-name">
      <span class="first-name">{{ basicInfo.firstName }}</span>
      <span class="last-name"> {{ basicInfo.lastName }}</span>
    </div>
    <div class="contact-info mb-1">
      <span class="email-val f-19">{{ basicInfo.role }}</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">{{ basicInfo.email }}</span>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <span class="phone-val">{{ basicInfo.mobile }}</span>
    </div>

    <div class="about">
      <span class="desc">{{ basicInfo.discription }}</span>
    </div>
  </div>
  <div class="details">
    <div class="section">
      <div class="section__title">Skills</div>
      <div class="skills">
        <div class="skills__item" *ngFor="let item of basicInfo.skills">
          <div class="left">
            <div class="name">{{ item.technology }}</div>
          </div>
          <div class="right">
            <span *ngFor="let rate of item.rattings">
              <input id="ck1" type="checkbox" [checked]="rate" />
              <label for="ck1"></label>
            </span>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="section__title">Experience</div>
        <div class="section__list">
          <div class="section__list-item">
            <div class="left">
              <div class="name">Ubique Systems Pvt Ltd</div>
              <div class="addr">Purbachal Road, Kolkata WB 700078</div>
              <div class="duration">Sep 2022 - Mar 2023</div>
            </div>
            <div class="right">
              <div class="name">Sr Angular Developer</div>
              <div class="desc">Work on Haspital Admin project</div>
            </div>
          </div>
          <div class="section__list-item">
            <div class="left">
              <div class="name">Koderoom Technology</div>
              <div class="addr">Navi Mumbai, Maharashtra, India</div>
              <div class="duration">Feb 2019 - Aug 2022</div>
            </div>
            <div class="right">
              <div class="name">Sr Angular Developer</div>
              <div class="desc">Work on Banking, Ecommerce project</div>
            </div>
          </div>
          <div class="section__list-item">
            <div class="left">
              <div class="name">Affixus Systems Pvt Ltd</div>
              <div class="addr">CBD Belapur, Navi Mumbai, MH 400614</div>
              <div class="duration">Oct 2015 - Feb 2019</div>
            </div>
            <div class="right">
              <div class="name">Frontend Developer</div>
              <div class="desc">
                Work on Munshi, Samweb Education, Sportelos, Fitransform
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="section__title">Education</div>
        <div class="section__list">
          <div class="section__list-item">
            <div class="left">
              <div class="name">National Power Training Institute(ER)</div>
              <div class="addr">Bachelor of Technology</div>
              <div class="duration">May 2008 - May 2012</div>
            </div>
            <div class="right">
              <div class="name">Marwari Sanatan Vidyalaya</div>
              <div class="desc">Higher Secondary Education</div>
              <div class="desc">May 2005-May 2007</div>
            </div>
          </div>
          <div class="section__list-item">
            <div class="left">
              <div class="name">Marwari Sanatan Vidyalaya</div>
              <div class="addr">Secondary Education</div>
              <div class="duration">May 2004-May 2005</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section__title">Projects</div>
        <div class="section__list">
          <div class="section__list-item">
            <div class="name">YES BANK ADMIN DASHBOARD</div>
            <div class="text">
              Angular, Jhipster, Material Design, HTML, CSS,
              Bootstrap,JavaScript
            </div>
            <div class="text">
              YES BANK ADMIN DASHBOARD is an Admin dashboard for yes bank admin,
              user and their partners
            </div>
          </div>
          <div class="section__list-item">
            <div class="name">PAYU</div>
            <div class="text">
              Angular, Jhipster, Material Design, HTML, CSS,
              Bootstrap,JavaScript
            </div>
            <div class="text">
              PAYU is a free payment gateway for NEFT, Card, Wallets, UPI, EMI
              Payment getway in India.
            </div>
          </div>
          <div class="section__list-item">
            <div class="name">TAXNET</div>
            <div class="text">
              Angular, Jhipster, Material Design, HTML, CSS,
              Bootstrap,JavaScript
            </div>
            <div class="text">
              TAXNET is a tax payment gateway for merchant and check status of
              transaction, report and CIN generation of the particular
              transaction.
            </div>
          </div>
          <div class="section__list-item">
            <div class="name">Morpheus</div>
            <div class="text">
              Angular, Jhipster, Material Design, HTML, CSS,
              Bootstrap,JavaScript
            </div>
            <div class="text">
              : MORPHEUS is a free payment gateway acts as mediator between payU
              and bank. These gives easy access to merchant and collect all the
              reports and actualstatus of transaction.
            </div>
          </div>
          <div class="section__list-item">
            <div class="name">LUAUAdmin Dashboard</div>
            <div class="text">
              Angular, Node Js, HTML, CSS, Bootstrap, JavaScrip
            </div>
            <div class="text">
              : LUAU is US based ecommerce platform for online purchase and home
              delivery of goods at home. Luau Dashboard is for Admin to check
              all order placed along with their management.
            </div>
          </div>
          <div class="section__list-item">
            <div class="name">Munshi</div>
            <div class="text">
              AngularJS, Electron, Node Js, Material Design, HTML, CSS,
              JavaScript, Bootstrap
            </div>
            <div class="text">
              MUNSHI is a project for wholesaler and distributor. The use of
              this project to purchase, sale inventory, manage stocks And
              accounts, reports in PDF, Dot matrix, Excel format.
            </div>
          </div>
          <div class="section__list-item">
            <div class="name">FITRANSFORM</div>
            <div class="text">AngularJS, HTML, CSS, JavaScript, Bootstrap</div>
            <div class="text">
              FITRANSFORM is a fitness regarding project for providing personal
              instructors at home and institutions according to client time
            </div>
          </div>
          <div class="section__list-item">
            <div class="name">SPORTELOS</div>
            <div class="text">
              Angular JS, Material Design, Node Js, HTML, CSS, Bootstrap,
              JavaScript
            </div>
            <div class="text">
              SPORTELOS is a sports related project. The use of this project to
              play sports saves score of all formats of sports
            </div>
          </div>
          <div class="section__list-item">
            <div class="name">VERIFIED RENTER</div>
            <div class="text">
              Angular, Material Design, Node Js, HTML, CSS, Bootstrap,
              JavaScript
            </div>
            <div class="text">
              VERIFIED RENTER is a US based project. This project is used for
              Buying or giving home at rent for Owner or tenant
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section__title">Interests</div>
        <div class="section__list">
          <div class="section__list-item">
            Cricket, Cooking, Music, Agriculture, Traveling.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
